page-tab-home {
  .wallet_uudi .label_wallet {
    margin: 0px;
  }

  .wallet_uudi .label_value {
    margin: 5px 0px 0px 0px;
    font-size: 15px;
  }

  .wallet_uudi .label_avaliable {
    margin: 0px;
    font-size: 10px;
  }

  .color_uudi_pro {
    color: #339966;
  }

  .back_uudi_pro {
    background: #339966;
  }

  .type_profile {
    background: #339966;
    color:#fff;
    font-weight: bold;
    padding: 6px;
    height: 4vh;
    width: auto;
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 4px;
  }

  .btn_pro {
    margin: 5px 0px 0px 0px;
    background: #339966;
    text-transform: none;
  }

  .list_options ion-item{
    padding: 0px;
  }

  .list_options ion-item h2{
    color:#595959;
    font-weight: bold;
  }

  .list_options ion-thumbnail{
    min-width: 60px;
    min-height: 60px;
  }

  .list_options ion-thumbnail img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
  }
}
