page-menu {
  .bar-button-default-md {
    color:#fff;
  }

  .container_side_menu {
    background: #1496c5;
  }

  .container_side_menu .item-md{
    background: #1496c5;
    padding:0px 0px 0px 0px;
    margin-left: 10px;
    color:#fff;
    font-size: 20px;
  }
}
